#img{
    width: 500px;
    height: 500px;
    background-size: cover;
    border-radius: 4px;
    box-shadow: 40px;
}
#but{
    position: absolute;
    left: 1200px;
    top: 100px;
}
#Users{
    background-color: red;
    width: 200px;
    height: 200px;
}