#img{
    background-image: url('https://w.wallhaven.cc/full/kx/wallhaven-kxj3l1.jpg');
    width: 500px;
    height: 500px;
    background-size: cover;
    border-radius: 4px;
    box-shadow: 40px;
}