#icon{
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/16006.jpg');
    width: 150px;
    height: 50px;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 2cm;
    position: absolute;
    right: 23px;
    top: 20px;
}