/* Scrollbar Track */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Light gray background */
  }
  
  /* Scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Dark gray scrollbar handle */
    border-radius: 10px; /* Rounded corners */
  }
  
  /* Scrollbar Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker gray on hover */
  }
  .increased-width {
    width: 100%; /* You can adjust this value according to your needs */
  }
  