#tab{
    height: 200px;
    
}
#fd{
    border-radius: 2px;
    
}
.flex{
    padding: 20px;
    width: 600px;
    height: 300px;
}
/* Scrollbar Track */
/* Scrollbar Track */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Light gray background */
  }
  
  /* Scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Dark gray scrollbar handle */
    border-radius: 10px; /* Rounded corners */
  }
  
  /* Scrollbar Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker gray on hover */
  }
  .table.with-background {
    background-color: #f0f0f0; /* Add your desired background color */
  }
  
  .button-with-background {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
#newr{
  padding: 10px;
  padding-top: 0px;
  font-size: small;
  width: 1255px;
  height: 200px;
  border-radius: 2px;
}
#ord{
  padding: 20px;
  font-size: small;
  width: 1350px;
  height: 200px;
  border-radius: 2px;
}
#log{
  color: #007bff;
padding-right: 300px;
width: 100%;
}

#loog{
  position: absolute;
  right: 450px;
  width: 400px;
}
#Uploade{
  
}
